<suite name="MySuite">

	<parameter name="objectMapFile" value="objectMap.properties" />
	
	<parameter name="testDataFile" value="TestData.xlsx" />
	
	<parameter name="browser" value="chrome.exe" />	
	
	<parameter name="profile" value="" />
	
	<!-- Uncomment following lines for firefox -->
	<!-- parameter name="browser" value="C:\Program Files\Mozilla Firefox\firefox.exe" />	
	<parameter name="profile" value="H:\Teaching\Training-workspaces\profile" / -->
	
	<parameter name="driverFile" value="WebDrivers/chromedriver.exe" />
	
	<parameter name="url" value="http://ec2-13-59-144-161.us-east-2.compute.amazonaws.com:3000/" />
	
	<parameter name="pageLoadTimeOutInSec" value="60" />
	
	<parameter name="elementLoadingTimeout" value="20" />
	
	<parameter name="screenshotsFolder" value="screenshots" />
	
	<test name="MyTests">	
		<packages>
			<package name="com.connecticus.netchain2.tests" />
		</packages>
		
		<classes>
			<class name="com.connecticus.netchain2.tests.automationSetUp.AutomationSetup" />
		</classes>
		
		<listeners>
    		<listener class-name="com.connecticus.testListnerAdapter.TestNGListner" />
  		</listeners>
	</test>
	
</suite>